@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&display=swap');


@import "unite.css";
@import "left.css";
@import "right.css";

body {
    font-family: 'Nunito Sans', sans-serif;

    background-color: #F3F3F4;

    position: relative;

    height: 800px;
    width: 100%;
    overflow: hidden;
}

a:visited {
    color: white;
}

.main:last-child {
}

.music_range {
    width: 80%;
    margin-top: 25px;
}

.music_range>div {
    display: flex;
    justify-content: space-between;
}

.music_range span{
    color: rgba(0,0,0,0.3);
    font-size: 10px;
}

.music_range-timeline {
    width: 100%;
    height: 8.4px; 
    cursor: pointer; 
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  */
    /* background: #3071a9;  */
    border-radius: 1.3px; 
    /* border: 0.2px solid #010101;  */
}

.play_bar-right {
    height: 45px;
    width: 85%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 70px;
}

.right_play_bar-buttons {
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.play_bar-right .right_play_bar-buttons i {
    margin: 10px;
    color: black;
    font-size: 25px;
}

.play_bar-right .right_play_bar-buttons a>i {
    font-size: 55px;
    box-shadow: 0px 10px 100px 0px;
}

.play_bar-right .right_play_bar-buttons a {
    background-color: none;
    border: none;
}

